# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: suika
    env:
      DEV_PATH: /home/opc/suika-game
      GIT_URL: git@github.com:fada2020/suika-game.git
    steps:
      - uses: actions/checkout@v3
      - name: Deploy to server
        run: |
          ls -al
          whoami
          mkdir -p ${{ env.DEV_PATH }} && cd ${{ env.DEV_PATH }}  # 프로젝트 경로로 수정
          if [ ! -d ${{ env.DEV_PATH }} ]; then
            git clone -b ${{ env.GIT_URL }} .
          else
            git pull ${{ env.GIT_URL }}    # 변경 사항을 가져오기 test
          fi
          npm run build
  alarm:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Discord Webhook Action
      uses: tsickert/discord-webhook@v5.3.0
      with:
        webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
        content: "보내고 싶은 텍스트"
